/* Text properties */

$white-font: white;
$black-font: black;
$my-font: "Times New Roman", serif;

/* Primary and secondary color */

$primary: white;
$secondary: black;

/* Colors */

$grey-color: rgb(200, 200, 200);
$my-black: black;

/* Sizes */
$profile-image-size: 300px;
$full-width: 100vw;
